[submodule "libs/libft"]
	path = libs/libft
	url = https://github.com/yuki-jinnouchi/42-libft.git
[submodule "libs/minilibx-linux"]
	path = libs/minilibx-linux
	url = https://github.com/42Paris/minilibx-linux.git
